$primary: red;

%bar {
  background: $primary;
}

#bar {
  content: 'An ID';
}

.foo, .waldo {
  @extend %bar;
  $secondary:green;
  color : red;
  font-size: 0.4em;
  box-shadow: .5em .5em black, 0.1em .4em red;
  background: red,blue;

  .bar {
    background:blue;
  }
}

.baz {
  @extend .foo%bar;
}

.qux {
	@extend .foo;
}

.bar span #quz {
  content: 'Another ID';
}