$primary: red;

%bar {
  background: $primary;
}

#bar {
  content: 'An ID';
}

.bad { color: red; background: green; }

.foo, .waldo {
  @extend %bar;
  $secondary:green;

  color :red;
  font-size: 0.4em;
  box-shadow: .5em .5em black,
	      0.1em .4em red; text-shadow: 1px 1px black;
  background: red,blue;

  .bar {
    background:blue;
  }
}

.baz {
  @extend .foo%bar;
}

.qux {
	@extend .foo;
}

.bar span #quz {
  content: 'Another ID';
}

.foo {
  content: 'bar';

  .baz {
    content: 'qux';

    .qux {
      content: 'waldo';
    }

    .waldo, div {
      content: 'where';

      .fail,
      #cats {
	content: 'blog';

	&:hover {
	  content: 'hover';
	}
      }
    }
  }

  .nan {
    .boo {
      content: 'nan';

      .fail {
	content: 'blog';
      }
    }
  }
}