.foo {
  border: 0;
}

.bar {
  border: none;
}

.baz {
  border-right: 0;
}

.qux {
  border-left: none;
}

.fail {
  border-top: none;
}

.norf {
  border: 1px;
}

.norf {
  // sass-lint:disable border-zero
  border: none;
  // sass-lint:enable border-zero
}
