.foo{
  content: 'foo';
}

.foo {
  content: 'foo';
}

.foo
{
  content: 'foo';
}




.foo, .bar{
  content: 'foo';
}

.foo, .bar {
  content: 'bar';
}

.foo, .bar
{
  content: 'bar';
}




.foo,
.bar{
  content: 'foo';
}

.foo,
.bar {
  content: 'bar';
}

.foo,
.bar
{
  content: 'bar';
}




h1{
  content: 'foo';
}

h1 {
  content: 'foo';
}

h1
{
  content: 'foo';
}




h1, h2{
  content: 'foo';
}

h1, h2 {
  content: 'foo';
}

h1, h2
{
  content: 'foo';
}




h1,
h2{
  content: 'foo';
}

h1,
h2 {
  content: 'foo';
}

h1,
h2
{
  content: 'foo';
}




#foo{
  content: 'foo';
}

#foo {
  content: 'foo';
}

#foo
{
  content: 'foo';
}




#foo, #bar{
  content: 'foo';
}

#foo, #bar {
  content: 'foo';
}

#foo, #bar
{
  content: 'foo';
}




#foo,
#bar{
  content: 'foo';
}

#foo,
#bar {
  content: 'foo';
}

#foo,
#bar
{
  content: 'foo';
}





.foo[type="text"]{
  content: 'foo';
}

.foo[type="text"] {
  content: 'foo';
}

.foo[type="text"]
{
  content: 'foo';
}




.foo[type="text"], .bar[type="email"]{
  content: 'foo';
}

.foo[type="text"], .bar[type="email"] {
  content: 'foo';
}

.foo[type="text"], .bar[type="email"]
{
  content: 'foo';
}




.foo[type="text"],
.bar[type="email"]{
  content: 'foo';
}

.foo[type="text"],
.bar[type="email"] {
  content: 'foo';
}

.foo[type="text"],
.bar[type="email"]
{
  content: 'foo';
}





@function foo(){
  @return 'foo';
}

@function foo() {
  @return 'foo';
}

@function foo()
{
  @return 'foo';
}



@mixin bar(){
  content: 'bar';
}

@mixin bar() {
  content: 'bar';
}

@mixin bar()
{
  content: 'bar';
}




@if($foo){
  $bar: 'foo';
}@else if($bar){
  $bar: 'bar';
}@else{
  $bar: false;
}

@if($foo) {
  $bar: 'foo';
}@else if($bar) {
  $bar: 'bar';
}@else {
  $bar: false;
}

@if ($foo){
  $bar: 'foo';
} @else if($bar){
  $bar: 'bar';
} @else{
  $bar: false;
}

@if ($foo) {
  $bar: 'foo';
} @else if ($bar) {
  $bar: 'bar';
} @else {
  $bar: false;
}




@if($foo){
  $bar: 'foo';
}
@else if($bar){
  $bar: 'bar';
}
@else{
  $bar: false;
}

@if ($foo) {
  $bar: 'foo';
}
@else if ($bar) {
  $bar: 'bar';
}
@else {
  $bar: false;
}



@if($foo)
{
  $bar: 'foo';
}@else if($bar)
{
  $bar: 'bar';
}@else
{
  $bar: false;
}




@if ($foo)
{
  $bar: 'foo';
}
@else if ($bar)
{
  $bar: 'bar';
}
@else
{
  $bar: false;
}




@for $i from 1 through 5{
  .for-#{$i}{
    content: 'foo';
  }
}


@for $i from 1 through 5 {
  .for-#{$i} {
    content: 'foo';
  }
}


@for $i from 1 through 5
{
  .for-#{$i}
  {
    content: 'foo';
  }
}




$list: (foo bar baz qux);


@each $item in $list{
  .each-#{$item}{
    content: #{$item};
  }
}

@each $item in $list {
  .each-#{$item} {
    content: #{$item};
  }
}


@each $item in $list
{
  .each-#{$item}
  {
    content: #{$item};
  }
}




$total: 4;


@while $total > 0{
  .while-#{$total}{
    content: #{$total};
  }

  $total: $total - 1;
}

@while $total > 0 {
  .while-#{$total} {
    content: #{$total};
  }

  $total: $total - 1;
}


@while $total > 0
{
  .while-#{$total}
  {
    content: #{$total};
  }

  $total: $total - 1;
}




// Single-line statements

.foo { content: 'foo'; }
.foo, .bar { content: 'bar'; }


@if ($foo) { $bar: 'foo'; }

@if ($foo) { $bar: 'foo'; } @else { $bar: false; }
@if ($foo) { $bar: 'foo'; } @else if { $bar: 'bar'; } @else { $bar: false; }

@if ($foo) { $bar: 'foo'; }
@else { $bar: false; }


@if ($foo) { $bar: 'foo'; }
@else if { $bar: 'bar'; }
@else { $bar: false; }


@function foo() { @return 'foo'; }


@mixin bar() { content: 'bar'; }


@for $i from 1 through 5 { .for-#{$i} { content: 'foo'; } }


@each $item in $list { .each-#{$item} { content: #{$item}; } }


@while $total > 0 { .while-#{$total} { content: #{$total}; } $total: $total - 1; }




// =======================
// No paren tests
// =======================

@if $foo { $bar: 'foo'; }

@if $foo {
  $bar: 'foo';
}



// =======================
// Closing brace tests
// =======================

.foo {
  content: 'foo'; }

@if($foo) {
  $bar: 'foo'; }

@function foo() {
  @return 'foo'; }

@mixin bar() {
  content: 'bar'; }



// =======================
//  Multi-line parameters
// =======================

@function foo(
  $bar
) {
  content: $bar;
}


@function foo(
  $bar
)
{
  content: $bar;
}



@function bar(
  $bar,
  $baz
) {
  content: $bar;
}

@function bar(
  $bar,
  $baz
)
{
  content: $bar;
}


@mixin foo(
  $bar
) {
  content: 'foo bar';
}

@mixin foo(
  $bar
)
{
  content: 'foo bar';
}


@mixin bar(
  $bar,
  $baz
) {
  content: 'foo bar';
}

@mixin bar(
  $bar,
  $baz
)
{
  content: 'foo bar';
}
