.hyphenated-lowercase {
  content: '';
}

.snake_case {
  content: '';
}

.camelCase {
  content: '';
}

.PascalCase {
  content: '';

  .Camel_Snake_Case {
    content: '';

    .SCREAMING_SNAKE_CASE {
      content: '';
    }
  }
}

._with-leading-underscore {
  content: '';
}

._does_NOT-fitSTANDARD {
  @extend .snake_case;
}

.block-name__elem-name {
  content: '';
}

.owner-name_mod-name_mod-val {
  content: '';
}

.site-search {
  color: blue;
  width: 50px;
  height: 100%;
}

.site-search__field {
  text-decoration: underline;
}

.site-search--full {
  color: green;
}
