.foo {
  content: 'bar';

  @include breakpoint($tab1) {
    &:after {
      content: '|';
      padding-left: 12px;
    }
  }

  .foo {
    content: 'bar';
  }
  .bar {
    content: 'baz';
  }
}
.waldo {
  content: 'foo';
}

.baz {
  content: 'fail';
}

.block {
  .element {
    content: 'baz';
  }
}

.block {

  .element {
    content: 'baz';
  }
}
