.foo
  @extend %waldo
  content: 'baz'


.bar
  content: 'baz'
  @extend %waldo


.qux
  content: 'baz'
  @extend %waldo
  content: 'where'


.breakpoint
  content: 'baz'
  @extend %foo

  .foo
    content: 'where'

    @extend %waldo


  .bar
    @extend %waldo
    content: 'where'


.foo-noextend
  +foo
  content: "bar"
