// attribute should be nested
input[type='text'] {
  border: 0;
}

// attribute should be nested
input[type='radio'] {
  color: red;
}

// attribute should be nested
a[target='_blank'] {
  content: '';
}

input {
  &[type='text'] {
    content: '';
  }
}

form {
  // attribute should be nested
  input[type='text'] {
    padding: 0;
  }
}

.form {
  // attribute should be nested
  .class input[type='text'] {
    padding: 0;
  }
}
