$foo: kabab-case()
$foo: snake_case()
$foo: camelCase()
$foo: PascalCase()
$foo: Camel_Snake_Case()
$foo: SCREAMING_SNAKE_CASE()
$foo: _with-leading-underscore()
$foo: _does_NOT-fitSTANDARD()

.class
  content: snake_case()

@function camelCase($x, $y)
  @return kabab-case($x, $y)
