$foo-color: #123;

.foo {
  background: linear-gradient(top, #cc2, #44d);
  color: #fff;
}

$bar-color: #123123;

.bar {
  background: linear-gradient(top, #cc2cc2, #44d44d);
  color: #ffffff;
}

.baz {
  border-color: #123456;
}
