$foo: (
	'foo': 'bar',
	'bar': (
		'foo': 'bze'
	)
);

.foo,
.bar {
	content: 'bar';

	content: 'baz';
content: 'bar';

	@include breakpoint(500) {
		content: 'baz';
	content: 'qux';
	}

	.qux {
		content: 'bar';
	}
}

@mixin bar {
	content: 'bar';
  content: 'baz';
}
