@mixin hyphenated-lowercase() {
  content: '';
}

@mixin snake_case() {
  content: '';
}

@mixin camelCase() {
  content: '';
}

@mixin PascalCase() {
  content: '';
}

@mixin Camel_Snake_Case() {
  content: '';
}

@mixin SCREAMING_SNAKE_CASE() {
  content: '';
}

@mixin _with-leading-underscore() {
  content: '';
}

@mixin strictbem() {
  content: '';
}

@mixin strictbem_modifier() {
  content: '';
}

@mixin strictbem__mixin() {
  content: '';
}

@mixin strictbem__mixin_modifier() {
  content: '';
}

@mixin strictbem_modifier__mixin() {
  content: '';
}

@mixin hyphenatedbem--modifier() {
  content: '';
}

@mixin hyphenatedbem__mixin() {
  content: '';
}

@mixin hyphenatedbem__mixin--modifier() {
  content: '';
}

@mixin hyphenatedbem--modifier__mixin() {
  content: '';
}

@mixin _does_NOT-fitSTANDARD() {
  content: '';
}

.class {
  @include snake_case();
}

.test {
  @extend .pure-u-1-6
}

.test {
  @at-root .child_snake_case {
    content: 'foo';
  }
}

@import 'foo.scss';

@keyframes fade_it {
  0% { transform: scale(1.0); }
  25% { transform: scale(1.1); }
  50% { transform: scale(1.0); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}
