.foo {
  @include waldo;
  content: 'baz';
}

.bar {
  content: 'baz';
  @include waldo;
}

.qux {
  content: 'baz';
  @include waldo;
  margin: 0;
}

.breakpoint {
  content: 'baz';

  @include breakpoint(500px) {
    content: 'waldo';
  }

  .foo {
    content: 'where';

    @include waldo;

  }

  &__element {
    @include element;
    width: 100%;

    @include mq(500px) {
      content: 'mq';
    }

    @include waldo;

    &--modifier {
      @include foo('yo');
      @include hello;
      @include test;
      height: 100px;
      @include test-again;
    }
  }
}
