
@include waldo;

.foo {
  @include waldo;
  content: 'baz';
}

.bar {
  content: 'baz';
  @include waldo;
}

.qux {
  content: 'baz';
  @include waldo;
  margin: 0;
}

.breakpoint {
  content: 'baz';

  @include breakpoint(500px) {
    content: 'waldo';
  }

  .foo {
    content: 'where';

    @include waldo;

  }

  &__element {
    @include element;
    width: 100%;

    @include mq(500px) {
      content: 'mq';
    }

    @include waldo;

    &--modifier {
      @include foo('yo');
      @include hello;
      @include test;
      height: 100px;
      @include test-again;
    }
  }
}

// added from issue #230 https://github.com/sasstools/sass-lint/issues/230

.area-current {
  $active: #00acac;
  $background: #2d353c;

  @include area-menu($active, $background);
}

// added from issue #227 https://github.com/sasstools/sass-lint/issues/227

@include hello;

@media (min-width: 50em) {
  @include hello;
}

@supports (display: flex) {
  @include hello;
}

@at-root {
  @include hello;
}
