.foo
  padding: 5

  .bar
    content: 'baz'

    .qux,
    .fail
      content: 'bob'

      &:hover,
      &:active
        content: 'fail'

        .bar
          content: 'fail'

      .bar
        content: 'fail'

.block
  content: 'bar'

  &__element
    content: 'bar'


    &--modifier
      content: 'bar'
