.foo {
  padding: 5px;

  .bar {
    content: 'baz';

    .qux,
    .fail {
      content: 'bob';

      &:hover {
        content: 'fail';
      }

      .bar {
        content: 'fail';
      }
    }
  }
}

.noDepthSelector {
  width: 100px;
}

.block {
  content: 'bar';

  &__element {
    content: 'bar';

    &--modifier {
      content: 'bar';
    }
  }
}

.secondBlock {
  content: 'bar';

  @at-root &__secondElement {
    content: 'bar';

    @at-root &--secondModifier {
      content: 'bar';
    }
  }
}
