// Standard
//==============================================================================

[autoplay] {
  content: 'foo';
}

[attr=value] {
  content: 'bar';
}

[attr~=value] {
  content: 'baz';
}

[attr|=value] {
  content: 'qux';
}

[attr^=value] {
  content: 'norf';
}

[attr$=value] {
  content: 'foo';
}

[attr*=value] {
  content: 'bar';
}

// Combinator
//==============================================================================

.foo [autoplay] {
  content: 'foo';
}

.foo [attr=value] {
  content: 'bar';
}

.foo [attr~=value] {
  content: 'baz';
}

.foo [attr|=value] {
  content: 'qux';
}

.foo [attr^=value] {
  content: 'norf';
}

.foo [attr$=value] {
  content: 'foo';
}

.foo [attr*=value] {
  content: 'bar';
}

// Specific
//==============================================================================

.foo[autoplay] {
  content: 'foo';
}

.foo[attr=value] {
  content: 'bar';
}

.foo[attr~=value] {
  content: 'baz';
}

.foo[attr|=value] {
  content: 'qux';
}

.foo[attr^=value] {
  content: 'norf';
}

.foo[attr$=value] {
  content: 'foo';
}

.foo[attr*=value] {
  content: 'bar';
}
