/* Bad */
.foo {
  content: ' ';
}

/*
 * Test Comment
 */
.bar {
  content: ' ';
}

// good comment
.baz {
  content: ' ';
}

/* comment */
.qux {
  content: ' ';
}

/*! Single Line Bang Comment */
.bang-1 {
  content: '';
}

/*!
  * Multiline Bang Comment
**/
.bang-2 {
  content: 'bang';
}

/*
 * Multiline Comments are bad
 */
.test {
  content: ' ';
}

// this is a good comment
.class {
  content: ' ';
}

// =========
// This is a good comment
// =========
.blip {
  content: ' ';
}

//////////////////
// This is a good comment
//////////////////
.blop {
  content: ' ';
}
