.foo
  margin: 0 0 15px
  padding: 10px
  margin: 0

// excluded display will still fail here due to it not
// following the previous display declaration
.bar
  display: block
  width: 100%
  display: none

  // excluded display will still fail here due to it not
  // following the previous display declaration
  .baz
    display: block
    width: 50%
    display: none

.qux
  background: rgb(200, 54, 54)
  background: rgba(200, 54, 54, 0.5)

.break
  background: rgb(200, 54, 54)
  content: 'dec between background'
  background: rgba(200, 54, 54, 0.5)

.display
  content: 'display'
  display: flex
  display: inline-block

// issue #907 - interpolation/variable in property names
$paint-border-1: top
$paint-border-2: left

.test
  border: $size solid transparent
  border-#{$paint-border-1}: $size solid $color
  border-#{$paint-border-2}: $size solid $color
  border-#{$paint-border-2}: $size solid $color

// issue #935 - ignore variables
+foo
  $i: 0
  $i: 1
