$red: #ff0000;

.test-failure {
  @include test;
  -webkit-transit1on: width 2s;
  background-sizer: contain;
  colors: $red;
  transit1on: width 2s;

}

.test-correct {
  @include test;
  -webkit-transition: width 2s;
  background-size: contain;
  color: $red;
  transition: width 2s;

}

.test-interp {
  -webkit-#{$property}: $value;
}

// https://github.com/sasstools/sass-lint/issues/606
.test-vendor {
  -moz-osx-font-smoothing: auto;
}
