h1 {
  color: #fff;
}

h1.new {
  color: #000;
}

h1,
h2,
h3 {
  color: #fff;
}

.color {
  color: #000;
}

.color {
  border: 1px solid #fff;
}

input[type='text'] {
  border: 0;
}

input[type='text'] {
  background: none;
}
