.foo
  content: 'foo'


div.foo
  content: 'foo'


ul#foo
  content: 'foo'


input[type='email']
  content: 'foo'


.foo.bar
  content: 'foo'


.foo .bar
  content: 'foo'


.foo
  .bar
    content: 'foo'



ul
  .foo
    content: 'foo'



.foo[type='text']
  content: 'foo'


#foo[type='email']
  content: 'foo'
