.foo
  margin: 1.5rem


.foo
  margin: 1.500rem


.foo
  margin: .5rem


.foo
  margin: .500rem


.foo
  margin: 0.25rem


.foo
  margin: 0.2500rem


.foo
  margin: 5.0rem

.foo
  margin: 5.00rem

.foo
  margin: .000rem

.foo
  margin: 0.0rem

.foo
  margin: .0rem

.foo
  margin: 0
