.foo
  margin: 1.5rem

// Two trailing spaces after selector
.bar  
  margin: 1.5rem

// Two trailing spaces after property
.baz
  margin: 1.5rem  

// Two trailing spaces between rules
.qux
  margin: 1.5rem
  

// Trailing tab after selector
.cat	
  margin: 1.5rem

// Trailing tab after property
.dog
  margin: 1.5rem	

