.literal
  height: 3em

.literal-property
  width: 3px

.box-shadow
  box-shadow: 1em 1em black, 1em 1em black

.background
  background: 1em solid white

.function
  color: test(2em)

// using literals as property names
$sizes: 2em

.literal-property
  width: 3px
  height: 0
  .red
    width: 4
    height: 5px
