.right-element::after
  content: "right-element"

.right-element::before
  content: "right-element"

.right-element::first-letter
  content: "right-element"

.right-element::first-line
  content: "right-element"

.right-element::selection
  content: "right-element"

.right-element::backdrop
  content: "right-element"

.right-element::-ms-backdrop
  content: "right-prefixed-element"


.wrong-element:after
  content: "wrong-element"

.wrong-element:before
  content: "wrong-element"

.wrong-element:first-letter
  content: "wrong-element"

.wrong-element:first-line
  content: "wrong-element"

.wrong-element:selection
  content: "wrong-element"

.wrong-element:backdrop
  content: "wrong-element"

.wrong-element:-ms-backdrop
  content: "wrong-prefixed-element"


.right-selector:active
  content: "right-selector"

.right-selector:checked
  content: "right-selector"

.right-selector:disabled
  content: "right-selector"

.right-selector:empty
  content: "right-selector"

.right-selector:enabled
  content: "right-selector"

.right-selector:first-child
  content: "right-selector"

.right-selector:first-of-type
  content: "right-selector"

.right-selector:focus
  content: "right-selector"

.right-selector:hover
  content: "right-selector"

.right-selector:in-range
  content: "right-selector"

.right-selector:invalid
  content: "right-selector"

.right-selector:lang
  content: "right-selector"

.right-selector:last-child
  content: "right-selector"

.right-selector:last-of-type
  content: "right-selector"

.right-selector:link
  content: "right-selector"

.right-selector:not
  content: "right-selector"

.right-selector:nth-child
  content: "right-selector"

.right-selector:nth-last-child
  content: "right-selector"

.right-selector:nth-last-of-type
  content: "right-selector"

.right-selector:nth-of-type
  content: "right-selector"

.right-selector:only-of-type
  content: "right-selector"

.right-selector:only-child
  content: "right-selector"

.right-selector:optional
  content: "right-selector"

.right-selector:out-of-range
  content: "right-selector"

.right-selector:read-only
  content: "right-selector"

.right-selector:read-write
  content: "right-selector"

.right-selector:-moz-read-write
  content: "right-prefixed-selector"

.right-selector:required
  content: "right-selector"

.right-selector:root
  content: "right-selector"

.right-selector:target
  content: "right-selector"

.right-selector:valid
  content: "right-selector"

.right-selector:visited
  content: "right-selector"


.wrong-selector::active
  content: "wrong-selector"

.wrong-selector::checked
  content: "wrong-selector"

.wrong-selector::disabled
  content: "wrong-selector"

.wrong-selector::empty
  content: "wrong-selector"

.wrong-selector::enabled
  content: "wrong-selector"

.wrong-selector::first-child
  content: "wrong-selector"

.wrong-selector::first-of-type
  content: "wrong-selector"

.wrong-selector::focus
  content: "wrong-selector"

.wrong-selector::hover
  content: "wrong-selector"

.wrong-selector::in-range
  content: "wrong-selector"

.wrong-selector::invalid
  content: "wrong-selector"

.wrong-selector::lang
  content: "wrong-selector"

.wrong-selector::last-child
  content: "wrong-selector"

.wrong-selector::last-of-type
  content: "wrong-selector"

.wrong-selector::link
  content: "wrong-selector"

.wrong-selector::not
  content: "wrong-selector"

.wrong-selector::nth-child
  content: "wrong-selector"

.wrong-selector::nth-last-child
  content: "wrong-selector"

.wrong-selector::nth-last-of-type
  content: "wrong-selector"

.wrong-selector::nth-of-type
  content: "wrong-selector"

.wrong-selector::only-of-type
  content: "wrong-selector"

.wrong-selector::only-child
  content: "wrong-selector"

.wrong-selector::optional
  content: "wrong-selector"

.wrong-selector::out-of-range
  content: "wrong-selector"

.wrong-selector::read-only
  content: "wrong-selector"

.wrong-selector::read-write
  content: "wrong-selector"

.wrong-selector::-moz-read-write
  content: "wrong-prefixed-selector"

.wrong-selector::required
  content: "wrong-selector"

.wrong-selector::root
  content: "wrong-selector"

.wrong-selector::target
  content: "wrong-selector"

.wrong-selector::valid
  content: "wrong-selector"

.wrong-selector::visited
  content: "wrong-selector"
