.foo
  content: 'foo'


.foo.boo
  content: 'foo'


.foo, .boo
  content: 'foo'


.foo,.boo
  content: 'foo'


.foo,
.boo
  content: 'foo'


.foo > a,.bar
  content: 'baz'


.foo,
.bar
  content: 'baz'

  .baz,
  .qux
    content: 'qux'


  .fail, .blog
    content: 'cats'


  .where,
  .waldo, .qux
    content: 'found'

.foo
  .bar &,
  .baz &
    content: 'foo'

.foo
  .bar &, .baz &
    content: 'foo'

// Issue #789 - Issue with comments being warned as selector content on single lines
button,
html,
html input[type='button'], // 6
input[type='reset'],
input[type='submit']
  -webkit-appearance: button; // 7
  cursor: pointer; // 8
