// Important

.foo
  color: orange !important


.bar
  color: orange ! important


.baz
  color: orange!important


.qux
  color: orange! important


// Default

$foo: red!default

$foo: orange !default

$foo: blue! default

$foo: green ! default
  
