.foo {
  content: 'bar';
}

.bar{
  content: 'baz';
}

.qux {
  content: 'bar';
}

@mixin foo {
  content: 'qux';
}

@mixin bar{
  content: 'qux';
}

.qux {
  content: 'bar';
  font:{
    family: fantasy;
  }
  @include breakpoint{
    content: bar;
    font: {
      family: fantasy;
    }
  }
}


.other {
  content: 'bar';
  font: {
    family: fantasy;
  }
  @include breakpoint {
    content: bar;
    font:{
      family: fantasy;
    }
  }
}

.selector {
  content: '';

  .mergeable {
    font: {
      family: fantasy;
    }
  }
}
