h1,h2 {
  content: 'foo';
}

h1, h2 {
  content: 'foo';
}

h1,
h2 {
  content: 'foo';
}

.foo {
  box-shadow: 1px 1px black,1px 1px black;
}

.foo {
  box-shadow: 1px 1px black, 1px 1px black;
}

.bar {
  @include mixin('foo','bar');
}

.bar {
  @include mixin('foo', 'bar');
}

@function foo($bar,$baz) {
  @return $bar * $baz;
}

@function foo($bar, $baz) {
  @return $bar * $baz;
}

@mixin foo(
  $foo: true,
  $bar: false
) {
  content: 'foo';
}

@mixin foo(
  $foo: true, // Foo
  $bar: false /* Bar */
) {
  content: 'foo';
}
