@function foo( $bar) {
  @return $bar;
}

@function baz() {

}

@mixin bar ($baz ) {
  content: $baz;
}

.foo {
  @include bar( 'Hello' );
  content: foo('bar');
  width: calc( 100% - 10px);
}

// Top level mixin
@include hello(
  $foo,
  $bar,
  $baz
);

.foo {
  // Nested Mixin
  @include hello(
    $foo,
    $bar,
    $baz
  );

  // CSS built-in function
  background: transparent linear-gradient(
    to bottom,
    #ff0000 0%,
    #00ff00 40%,
    #0000ff 40%
  );

  // User-defined function
  content: goodbye(
    $foo,
    $bar
  );
}
