// Important

.foo
  color: red!important


.bar
  color: orange !important


.baz
  color: green! important


.quz
  color: pink ! important


// Default

$foo: red!default

$foo: orange !default

$foo: blue! default

$foo: green ! default
