.foo
  content: $content
  margin: $margin

  &__element
    margin: $margin



=blue()
  margin: $margin


.bar
  content: ' '
  margin: 0

  &__element
    margin: 0



=red()
  margin: 0

.test
  background: inherit
  background: initial
  background: transparent
  background: none
