$kabab-case: 1;
$snake_case: 1;
$camelCase: 1;
$PascalCase: 1;
$Camel_Snake_Case: 1;
$SCREAMING_SNAKE_CASE: 1;
$_with-leading-underscore: 1;
$_does_NOT-fitSTANDARD: 1;

.class {
  width: $snake_case;
}
